<!DOCTYPE html>
<html>
  <head>
    <title>Simulasi Kontrol PID</title>

    <!-- Bootstrap Css -->
    <link
      href="bootstrap-5.3.5/css/bootstrap.min.css"
      id="bootstrap-style"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="bootstrap-icons-1.11.3/font/bootstrap-icons.min.css"
    />
    <!-- JQuery -->
    <script src="javascripts/jquery-3.7.1.min.js"></script>
  </head>
  <body>
    <div id="layout-wrapper"></div>
  </body>
</html>
